 <tr class='cart-product' data-id={{product.getProductId}}>
    <td><img src='https://dummyimage.com/50x50/55595c/fff' /> </td>
                            <td>name</td>
                            <td><input  class='form-control quantity' type='number'  value='{{product.getQuantity()}}' min='1' /></td>
                            <td class='text-right'>{{product.getProductPrice()}} €</td>
                            <td class='text-right'><button class='btn btn-sm btn-danger delete_product' data-id={{product.getProductId}}><i class='fa fa-trash'></i> </button> </td>
                        </tr>